.react-calendar {
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    border: none;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
    font-family: 'Noto Serif KR', serif;
    line-height: 1.125em;
}

.react-calendar__navigation button {
    color: #7f8c8d;
    min-width: 44px;
    background: none;
    font-size: 14px;
    margin-top: 8px;
}
.react-calendar__month-view__weekdays__weekday > abbr {
    font-size: 12px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}
abbr[title] {
    text-decoration: none;
}

/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #7f8c8d;
    border-radius: 6px;
}
.react-calendar__tile--now {
    background: #48415e33;
    border-radius: 6px;
    font-weight: bold;
    color: #7f8c8d;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #7f8c8d;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
}
.react-calendar__tile--active {
    background: #7f8c8d;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #7f8c8d;
    color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
}
.react-calendar__tile--range {
    background: #f8f8fa;
    color: #7f8c8d;
    border-radius: 0;
}
.react-calendar__tile--rangeStart {
    border-radius: 6px;
    background: #7f8c8d;
    color: white;
}
.react-calendar__tile--rangeEnd {
    border-radius: 6px;
    background: #7f8c8d;
    color: white;
}
